<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>To confirm your email, enter the new code in the application:</p>
        <h2><%= locals.confirmationCode %></h2>
        <%- include('../footer/content.ejs') %>
    </body>
</html>
