<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Registration Confirmation</title>
    </head>
    <body>
        <p>
            Congratulations! Your registration on the <%= locals.applicationName %> application has been successfully
            completed.
        </p>
        <p>This letter is automatically sent. Please, do not answer it.</p>
    </body>
</html>
