<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>
            Congratulations! Your registration on the <%= locals.applicationName %> application has been successfully
            completed.
        </p>
        <%- include('../footer/content.ejs') %>
    </body>
</html>
